.container-fluid.container-listings
  .row
    - @listings.each do |listing|
      .col-sm-6.col-md-6.col-xs-6
        = link_to listing do
          - if listing.vehicle_image
            .img-thumbnail{:style => "border:none; background:white;"}
              .image-container.img
                = image_tag attachment_url(listing, :vehicle_image), size: "480x380"
          %span.h3
            = listing.year
          %span.h3
            = listing.make
          %span.h3
            = listing.model
          -# %span
          -#   = link_to listing do
          -#     %span.glyphicon.glyphicon-ok
          -# %span
          -#   = link_to edit_listing_path(listing) do
          -#     %span.glyphicon.glyphicon-pencil
          -# %span
          -#   = link_to listing, data: { confirm: 'Are you sure?' }, method: :delete do
          -#     %span.glyphicon.glyphicon-remove
