%dl.dl-horizontal
  %dt Year:
  %dd= @listing.year
  %dt Make:
  %dd= @listing.make
  %dt Model:
  %dd= @listing.model
  %dt Description:
  %dd= @listing.description
  %dt Price:
  %dd= @listing.price
  %dt Color:
  %dd= @listing.color
  %dt Transmission:
  %dd= @listing.transmission
  %dt Body type:
  %dd= @listing.body_type
  %dt Vehichle type:
  %dd= @listing.vehicle_type
