.page-header
  = link_to new_search_path, class: 'btn btn-default' do
    Back
  %h1.text-center Search Results
.container-fluid.container-listings
  .row
    - @search.listings.each do |listing|
      .col-sm-6.col-md-6.col-xs-6
        = link_to listing do
          - if listing.vehicle_image
            .img-thumbnail{:style => "border:none; background:white;"}
              .image-container.img
                = image_tag attachment_url(listing, :vehicle_image), size: "530x420"
            .vehicle-metadata
              %span.h3
                = listing.year
              %span.h3
                = listing.make
              %span.h3
                = listing.model
