= form_for @review, html: { class: "form-horizontal", role: "form" } do |f|
  -if @review.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@review.errors.count, "error")} prohibited this review from being saved:"

      %ul
        - @review.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label "Seller", class: 'col-sm-2 control-label'
    .col-sm-10
      =f.select :user_id, options_from_collection_for_select(@users, :id, :name), prompt: "", class: "form-control"
  .form-group
    = f.label "Review", class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :review_body, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'
